{% extends "layout/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-3 text-primary">Profile</h1>
          <img class="img-fluid d-block px-5 mx-auto" src="http://cowards.co.za/wp-content/uploads/profile-512_4.png" width="450"> </div>
      </div>
    </div>
  </div>
  <!-- <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <p class="lead">NPM/NIK :
            <br>Nama :
            <br>Tempat Lahir :
            <br>Tanggal Lahir :
            <br>Email :
            <br>Nomor HP :
            <br>Status Kemahasiswaan:&nbsp;</p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <p class="lead">
          {% if mahasiswa1 %}
            MAHASISWA
            <br>NPM : {{mahasiswa.npm}}
          {% endif %}
          {% if dosen1 %}
          DOSEN
            <br>NIK : {{dosen1.nik_dosen}}
          {% endif %}
          {% if staf1 %}
          STAF
            <br>NIK : {{staf1.nik_staf}}
          {% endif %}
            <br>Nama : {{profil1.nama}}
            <br>Tempat Lahir : {{profil1.tempat_lahir}}
            <br>Tanggal Lahir : {{profil1.tanggal_lahir}}
            <br>Email : {{profil1.email}}
            <br>Nomor HP : {{profil1.no_hp}}
            {% if mahasiswa1 %}
              <br>Status Kemahasiswaan: {{mahasiswa1.status}}
            {% endif %}
            {% if dosen1 %}
              <br>Jurusan : {{dosen1.jurusan}}
          {% endif %}
          {% if staf1 %}
              <br>Posisi : {{staf1.posisi}}
          {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1">Artikel</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            {% if berita %}
              {% for artikel in berita %}
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4>{{artikel.judul}}</h4>
                  <h8>Topik: {{artikel.topik}}</h8>
                  <h9 class="text-muted">{{artikel.created_at}}</h9>
                  <h12>{{artikel.url}}</h12>
                  <p></p>
                  <p>Updated at: {{artikel.updated_at}}</p>
                  <p>Jumlah kata: {{artikel.jumlah_kata}} | Rating: {{artikel.rerata_rating}}</p>
                </div>
                <a class="btn btn-info" href="/berita/{{artikel.url}}">Go to article</a>
              </div>
            </div>
              {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>No Articles Yet!</strong>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
