<div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">©BMNC - Kelompok 8 Kelas A</p>
        </div>
      </div>
    </div>
 </div>