<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="assets/css/nucleo-icons.css"> -->
  <link rel="stylesheet" href="{% static 'css/now-ui-kit.css' %}"> </head>

<body class="">
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-cloud"></i>
        <b> Biru Merah News Company</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <a class="btn btn-primary" href="{% url 'app_buat_berita:buat_berita' %}">Buat Berita</a>
        <a class="btn btn-primary" href="{% url 'app_buat_polling_berita:buat_polling_berita' %}">Buat Polling Berita</a>
        <a class="btn btn-primary" href="{% url 'app_buat_polling_biasa:buat_polling_biasa' %}">Buat Polling Biasa</a>
        <a class="btn btn-primary" href="{% url 'app_buat_berita:go_to_profile' %}">Profile</a>
        <a class="btn btn-primary" href="{% url 'login:logout' %}">Log Out</a>
      </div>
    </div>
  </nav>
  <div class="py-3">
    <div class="container">
      {% if error %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% if success %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ success }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12"></div>
          </div>
          <h1 class="">Tambah Berita</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <form class="" method="POST" action="{% url 'app_buat_berita:buat_berita' %}">
          {% csrf_token %}
            <div class="form-group">
              <label>Judul</label>
              <input type="text" class="form-control" name="judul" placeholder="Masukan Judul" required> </div>
            <div class="form-group">
              <label>Url</label>
              <input type="text" class="form-control" name="url" placeholder="Masukan Url" required> </div>
            <div class="form-group">
              <label>Topik</label>
              <input type="text" class="form-control" name="topik" placeholder="Masukan Topik" required> </div>
            <div class="form-group">
              <label>Jumlah Kata</label>
              <input type="text" class="form-control" name="jumlah_kata" placeholder="Masukan Jumlah Kata" required> </div>
            <div class="form-group">
              <label>Tag</label>
              <input type="text" class="form-control" name="tag" placeholder="Masukan Tag" required> </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <footer style="position: absolute;bottom: 0; width: 100%;height: 60px;line-height: 60px;" class="bg-dark">
    <div class="container text-center">
      &copy;BMNC - Kelompok 8 Kelas A
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
