{% extends "layout/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>

  <div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Polling</h1>
          <!-- <p class="lead">Total Responden : 250</p>
          <p class="lead">Start Time : 15.00 7 April 2018 | Finish Time : 23.59 9 April 2018&nbsp;</p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">


            <!-- <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Pertanyaan 1</h5>
                  <p class="card-text">Apakah aksi dari pria ini buruk?</p>
                  <div class="row">
                    <div class="col-md-6">
                      <a class="btn btn-primary" href="#">Ya</a>
                    </div>
                    <div class="col-md-6">
                      <a href="#" class="btn btn-outline-primary">Tidak</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            {% if pollingBiasa %}
            {% for poll in pollingBiasa %}
              <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">URL: {{poll.url}}</h5>
                  <p class="card-text">Description: {{poll.deskripsi}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}

            {% if pollingBerita %}
            {% for poll in pollingBerita %}
              <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">URL: {{poll.url_berita.url}}</h5>
                  <p class="card-text">Judul: {{poll.url_berita.judul}}</p>
                  <p class="card-text">Topik: {{poll.url_berita.topik}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}

            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">©BMNC - Kelompok 8 Kelas A </p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

{% endblock %}