<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/css/now-ui-kit.css">
  <title> Registrasi </title>
  </head>
<body class="bg-light">
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-cloud"></i> Biru Merah News Company</a>
    </div>
  </nav>
  <div id ="app" v-cloak>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <center> Registrasi User </center>
          </h2>
          <br>
		  <div v-if="alert_success" class="alert alert-success">
		<strong>Pendaftaran berhasil!</strong>
		Anda akan redirect ke halaman login dalam beberapa detik.
	</div>
	<div v-if="alert_danger" class="alert alert-danger">
		<strong>Pendaftaran gagal!</strong> Username atau Nomor Identitas telah terdaftar
	</div>
          <form class="" @submit="submitForm">
            <div class="form-group">
              <label>Role</label>
              <br>
              <div class="btn-group">
               <button onclick="mFunction()" type="submit" class="btn btn-primary">Mahasiswa</button>
               <button onclick="dFunction()" type="submit" class="btn btn-primary">Dosen</button>
               <button onclick="sFunction()" type="submit" class="btn btn-primary">Staf</button>
              </div>
            </div>
            <div class="form-group">
              <label>Username</label>
              <input v-bind:class="['form-control',username.value==null?'':username.value==''?'is-invalid':'is-valid']"v-model="username.value" type="text" class="form-control" placeholder="Enter Username" required> 
			  <div class="invalid-feedback">
                  Wajib diisi.
               </div>
			  </div>
            <div class="form-group">
              <label>Password</label>
              <input v-bind:class="['form-control', password.value==null?'':password.valid?'is-valid':'is-invalid']" v-model="password.value" type="password" class="form-control" aria-describedby="passwordHelper" placeholder="Enter Password" required> 
			  <div class="invalid-feedback">
                  Password harus lebih dari 8 karakter dan harus terdiri dari angka dan huruf.
               </div>
			</div>
            <div class="form-group">
              <label>Nomor Identitas (NPM, NIK)</label>
              <input v-bind:class="['form-control', nomor_identitas.value==null?'':nomor_identitas.valid?'is-valid':'is-invalid']" v-model="nomor_identitas.value" type="text" class="form-control" placeholder="Ex: 173343332" required>
				<div class="invalid-feedback">
                    Wajib diisi.
                </div>
			  </div>
            <div class="form-group">
              <label>Nama</label>
              <input v-bind:class="['form-control', nama.value==null?'':nama.value==''?'is-invalid':'is-valid']"
                  v-model="nama.value" type="text" class="form-control" placeholder="Nama User" required> 
				  <div class="invalid-feedback">
                        Wajib diisi.
                  </div>
			</div>
            <div class="form-group">
              <label>Tempat Lahir</label>
              <input v-bind:class="['form-control', tempat_lahir.value==null?'':tempat_lahir.value==''?'is-invalid':'is-valid']"
                  v-model="tempat_lahir.value" type="text" class="form-control" placeholder="Tempat Lahir" required>
				<div class="invalid-feedback">
                        Wajib diisi.
                 </div>				  
			</div>
            <div class="form-group">
              <label>Tanggal Lahir</label>
              <input v-bind:class="['form-control', tanggal_lahir.value==null?'':tanggal_lahir.valid?'is-valid':'is-invalid']"
                  v-model="tanggal_lahir.value" 
				  type="text" class="form-control" placeholder="Tanggal Lahir" required> 
				<div class="invalid-feedback">
                        Tanggal Lahir harus dalam format YYYY-MM-DD
                 </div>
			</div>
            <div class="form-group">
              <label>Email</label>
              <input v-bind:class="['form-control', email.value==null?'':email.valid?'is-valid':'is-invalid']"
                  v-model="email.value" type="text" class="form-control" placeholder="Ex: example@gmail.com" required> 
				  <div class="invalid-feedback">
                        Wajib diisi.
                 </div>
			</div>
            <div class="form-group">
              <label>Nomor HP</label>
              <input v-bind:class="['form-control', nomor_hp.value==null?'':nomor_hp.value==''?'is-invalid':'is-valid']"
                  v-model="nomor_hp.value" type="text" class="form-control" placeholder="Nomor HP"> </div>
			<div id="someId"></div>
            <br>
            <center>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </center>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center">©BMNC Kelompok 8 Kelas A </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/js/registrasi.js"></script>
</body>

</html>