<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-cloud"></i>
        <b> Biru Merah News Company</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <a class="btn btn-primary" href="{% url 'app_buat_berita:buat_berita' %}">Buat Berita</a>
        <a class="btn btn-primary" href="{% url 'app_buat_polling_berita:buat_polling_berita' %}">Buat Polling Berita</a>
        <a class="btn btn-primary" href="{% url 'app_buat_polling_biasa:buat_polling_biasa' %}">Buat Polling Biasa</a>
        <a class="btn btn-primary" href="{% url 'app_buat_berita:go_to_profile' %}">Profile</a>
        <a class="btn btn-primary" href="{% url 'login:logout' %}">Log Out</a>
      </div>
    </div>
  </nav>
