{% extends "layout/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<!-- <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="now-ui-kit.css"> </head> -->
  <!-- <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-cloud"></i>
        <b> Biru Merah News Company</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Berita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profil</a>
          </li>
        </ul>
        <a class="btn navbar-btn ml-2 text-white btn-primary">Profile</a>
      </div>
    </div>
  </nav> -->
  <div class="py-5 mx-auto w-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-3 text-primary">{{berita.judul}}</h1>
          <img class="img-fluid d-block" src="https://ichef-1.bbci.co.uk/news/660/cpsprodpb/43C2/production/_101164371_1b2c6f01-fdeb-4904-b809-3f19ebb1f5b1.jpg"> </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Topik : {{berita.topik}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline">
            <li class="list-inline-item">Created at : {{berita.created_at}} | Updated at : {{berita.updated_at}}</li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item">Rating : {{berita.rerata_rating}}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 w-50">
          {% if riwayat %}
          <p class="">
            {{riwayat.konten}}</p>
          {% else %}
            <p class="">
            No content :(</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">©BMNC - Kelompok 8 Kelas A </p>
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}

